.container-login {
    position: static;
    border: 4px solid rgb(238, 27, 150);
    border-radius: 5px;
    padding: 40px;
    background-color: white;
    margin: 25px 500px;
}

.container-form {
    text-align: center;
}

.img-login {
    height: 60px;
}

.container-button {
    margin-top: 15px;
}

.form-group Label {
    font-size: 20px;
    margin-top: 15px;
}

.form-control {
    width: 100%;
    font-size: 20px;
}

.button {
    width: 100%;
}